{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "extensions": [
          ".ios.ts",
          ".android.ts",
          ".ts",
          ".ios.tsx",
          ".android.tsx",
          ".jsx",
          ".js",
          ".json"
        ],
        "alias": {
          "@store": "./src/store",
          "@public": "./public",
          "@components": "./src/components",
          "@shared": "./src/components/shared",
          "@constants": "./src/constants",
          "@schemas": "./src/schemas",
          "@utils": "./src/utils",
          "@lib": "./src/lib"
        }
      }
    ]
  ]
}
